@model Telefon_Rehberi.Models.KisiModel.KisiGuncelleModelView
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kişi Düzenle</h1>

@* <form class="form-horizontal" method="post" action="/Kisi/Guncelle/"> *@

    @using (Html.BeginForm("Guncelle","Kisi",FormMethod.Post,new{@class="form-horizontal"}))
    {
        
    
    @Html.HiddenFor(x=>x.Kisi.Id)
    <div class-"form-group">

    @Html.HiddenFor(x=>x.Kisi.Id)
        @Html.LabelFor(x=>x.Kisi.Ad)
        @Html.TextBoxFor(x=>x.Kisi.Ad,null,new{ @class="form-control"})
    </div>

    <div class-"form-group">

        @Html.LabelFor(x=>x.Kisi.Soyad)
        @Html.TextBoxFor(x=>x.Kisi.Soyad,null,new{ @class="form-control"})
    </div>
    <div class-"form-group">

        @Html.LabelFor(x=>x.Kisi.Firma)
        @Html.TextBoxFor(x=>x.Kisi.Firma,null,new{ @class="form-control"})
    </div>
    <div class-"form-group">

        @Html.LabelFor(x=>x.Kisi.Telefon)
        @Html.TextBoxFor(x=>x.Kisi.Telefon,null,new{ @class="form-control"})
    </div>
    <div class-"form-group">

        @Html.LabelFor(x=>x.Kisi.Email)
        @Html.TextBoxFor(x=>x.Kisi.Email,null,new{ @class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x=>x.Kisi.İletisimId)
        @* @Html.DropDownListFor(x=>x.Kisi.İletisimId, ViewBag.Sehirler as SelectList, new{ @class= "form-control"}) *@
        @Html.DropDownListFor(x=>x.Kisi.İletisimId, new SelectList(Model.Sehirler,"Id","Konum"),new{ @class= "form-control"})
    </div>


    <input type="submit" class="btn btn-primary" value="Güncelle" />

@* </form> *@

}