@model Telefon_Rehberi.Models.KisiModel.KisiIndexmodelview

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hoşgeldiniz..</h2>
@Html.ActionLink("Yeni Kişi Ekle","Ekle",null,new {@class = "btn btn-primary"})
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Firma</th>
        @* <th>Telefon</th>
        <th>E-mail Adresi</th>
        <th>Şehir</th> *@
        <th>İşlemler</th>

    </tr>
    @foreach(var kisi in Model.kisiler)
    {
        <tr>
            <td>@kisi.Ad</td>
            <td>@kisi.Soyad</td>
            <td>@kisi.Firma</td>
            @* <td>@kisi.Telefon</td>
            <td>@kisi.Email</td>
            <td>@kisi.Konum.Konum</td> *@
            <td>@* <a href="/kisi/Guncelle/@kisi.Id">Düzenle</a> *@
                @Html.ActionLink("Düzenle","Guncelle",new {id=kisi.Id}) |
                @Html.ActionLink("Detay","Detay",new{id =kisi.Id}) | @Html.ActionLink("Sil","Sil", new {id=kisi.Id},new {onclick="return confirm('Kaydı Silmek İstiyor musun?');"})
            </td>
        </tr>   
    }

</table>
